*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #dbcdba;
    color: #333;
    line-height: 1.6;
}

header{
    background: linear-gradient(135deg, #94b2ca, #c181e6);
    color: rgb(82, 68, 68);
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    background-color: #dbcdba;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
display: flex;
list-style: none;

}
